@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald&subset=cyrillic');

$font-primary:           'Merriweather', serif;
$font-primary-regular:   400;
$font-primary-bold:      700;

$font-secondary:         'Oswald', sans-serif;
$font-secondary-regular: 400;

